<div id="c" class="central">
  <h2>Policionamento <span><a href="inc-policiamento.asp" class="ad">Incluir</a></span></h2>
  <fieldset>
    <div class="f1"><input type="text" class="tam-data" placeholder="De" value="18/12/2017" title="De"> <input
        type="text" class="tam-data" placeholder="Até" value="19/12/2017" title="Até"> <input type="button"
        value="Filtrar"></div>
  </fieldset>
  <a href="inc-policiamento.asp" class="item">
    <span class="tc direita">10 Ago</span>
    <dl>
      <dt class="ne">Área de patrulhamento: Nova suiça</dt>
      <dd>09:00 - 09:45</dd>
      <dd class="grupo-chip">
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9004p.jpg">Sgt Gilmar Rosa CTS</span>
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9024p.jpg">Sd Evanir Costa CTS</span>
      </dd>
    </dl>
  </a>
  <a href="inc-policiamento.asp" class="item">
    <span class="tc direita">4 Mai</span>
    <dl>
      <dt class="ne">Ponto base: Banco do Brasil</dt>
      <dd>10:00 - 10:30</dd>
      <dd class="grupo-chip">
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9024p.jpg">Sd Evanir Costa CTS</span>
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9026p.jpg">Sgt Mariano Filho</span>
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9022p.jpg">Sd Tiescoli CTT</span>
      </dd>
    </dl>
  </a>
  <a href="inc-policiamento.asp" class="item">
    <span class="tc direita">4 Mai</span>
    <dl>
      <dt class="ne">Área de patrulhamento: Prado</dt>
      <dd>09:00 - 10:00</dd>
      <dd class="grupo-chip">
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9023p.jpg">Sgt Oto Bezerra CTS</span>
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9024p.jpg">Sd Evanir Costa CTS</span>
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9028p.jpg">Sd Jane Emiliana CTS</span>
      </dd>
    </dl>
  </a>
  <a href="inc-policiamento.asp" class="item">
    <span class="tc direita">3 Mai</span>
    <dl>
      <dt class="ne">Área de patrulhamento: Nova suiça</dt>
      <dd>09:00 - 09:45</dd>
      <dd class="grupo-chip">
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9004p.jpg">Sgt Gilmar Rosa CTS</span>
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9024p.jpg">Sd Evanir Costa CTS</span>
      </dd>
    </dl>
  </a>
  <a href="inc-policiamento.asp" class="item">
    <span class="tc direita">16 Abr</span>
    <dl>
      <dt class="ne">Ponto base: Banco do Brasil</dt>
      <dd>10:00 - 10:30</dd>
      <dd class="grupo-chip">
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9024p.jpg">Sd Evanir Costa CTS</span>
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9026p.jpg">Sgt Mariano Filho</span>
        <span class="chip menor"><img class="c-foto"
            src="http://prototipo.policiamilitar.mg.gov.br/img/thumb/tc9022p.jpg">Sd Tiescoli CTT</span>
      </dd>
    </dl>
  </a>
  <div class="pa">Página: <a href="#">&lt;</a> <a class="at" href="#">1</a> <a href="#">2</a> <a href="#">3</a> ... <a
      href="#">22</a> <a href="#">&gt;</a> / <b>850</b> registros</div>
</div>
